#Настройка celery
CELERY_BROKER_URL = 'redis://localhost:6379/0'
CELERY_RESULT_BACKEND = 'redis://localhost:6379/0'

#Настройка почты
MAIL_SERVER = "smtp.yandex.ru"
MAIL_PORT = "465"
MAIL_USERNAME = "адрес_почтового_ящика_для_отправки_писем"
MAIL_PASSWORD = "пароль_от_почтового_приложения"
MAIL_FROM="your@yandex.ru"