#Подключение postgreSQL
NAME = 'имя БД для подключения' - ее нужно предварительно создать
USER = 'имя пользователя postgreSQL'
PASSWORD =  'пароль пользователя postgreSQL'
HOST = 'хост'
PORT = 'порт'
